@import url("https://fonts.googleapis.com/css?family=Raleway|Work+Sans");

// Variables
$navbar-dimension: 80px;

html {
  font-family: "Raleway", serif;
}

body {
  padding: 0;
  margin: 0;
  min-height: 100%;
  line-height: 170%;
}

h2 {
  margin: 0;
  padding: 10px;
  font-weight: lighter;
  font-size: 3em;
  line-height: 150%;
}

h3 {
  font-weight: lighter;
}

ul {
  list-style: none;
}

#root {
  height: 100vh;
}

// App Component
// ======================
.App {
  height: 100%;

&.hogan {
  color: red;
}
}

// Navbar Component
// ================================

.Navbar {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  width: 110px;
}

.collapseButton {
  margin: auto;
  display: none;
  height: 60px;
  width: 50px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  fill: white;
}

.navbarLinks {
}

.DirectoryLink {
  color: black;
  max-height: $navbar-dimension;
  border-right: 2px solid rgba(0, 0, 0, 0);
  font-size: 12px;
  font-family: "Work Sans", sans-serif;
  letter-spacing: 3px;
  text-align: right;
  margin: 5px;
  padding: 5px;
  &:hover {
    color: orange;
  }
}

.card {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  border-width: 1px;
  border-color: black;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.link {
  text-decoration: none;
  &:visited {
    text-decoration: none;
    color: blue;
  }
}

.activeLink {
  color: black;
  .DirectoryLink {
    border-right: 2px solid black;
  }
  &:visited {
    color: black;
  }
}

// NextProfileButton
// ==============================================

.nextProfileButton {
  color: black;
  max-height: $navbar-dimension;
  border-right: 2px solid rgba(0, 0, 0, 0);
  font-size: 10px;
  font-family: "Work Sans", sans-serif;
  letter-spacing: 3px;
  text-align: right;
  background-color: white;
  margin: 5px;
  padding: 5px;
  cursor: pointer;
  &:hover {
    color: orange;
  }
  &.hogan {
  background-color: red;
  color: yellow;
  &:hover {
    color: black;
  }
}
}

.nextProfileButtonHogan {
  background-color: red;
  font-size: 10px;
  color: yellow;
  cursor:pointer;
  &:hover {
    color: black;
  }
}

// Content
//===============================================

.content {
  height: 100%;
  margin: 0px 40px 0px 150px;
}
// Home Component
// ==============================================

.Home {
  height: 100%;
  display: grid;
  margin: auto;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: center;
}

.profilePicture {
  display: block;
  margin: auto;
  height: 300px;
  width: 300px;
  border-radius: 300px;
  border: 1px solid black;
  background-color: lightgrey;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.homeText {
  padding: 2px;
}

//About Component
// ===============================

.About {
  max-width: 800px;
}

// Skills Component
// ===============================

.Skills {
}

.skillsList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

// Project Component
// =================================

.ProjectsBody {
  display: grid;
  grid-gap: 40px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.ProjectsTitle {
}
// ProjectCard Component
// =================================

.ProjectCard {
  width: 300px;
  margin: 20px 0px;
  padding: 20px 0px;
}

.ProjectCardImage {
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  margin: auto;
  width: 300px;
  height: 169px;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: lightgrey;

}

.ProjectCardTitle {
}

.ProjectCardSummary {
  color: grey;
}

.ProjectCardBody {
  color: grey;
  font-size: 0.8em;
}

.ProjectCardTag {
  padding: 3px;
  margin: 3px;
  display: inline-block;
  font-size: 12px;
  color: grey;
  border: 1px solid lightgrey;
  line-height: 100%;


}

// Contact Component
// =================================

.Contact {
  height: 100%;
  display: grid;
  margin: auto;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  align-items: center;
}

.ContactTitle {
  text-align: center;
  grid-column: span 2;
}

// Icon Component
// =================================

.Icon {
  &:hover {
    fill: orange;
  }
}

// Responsive table-layout
// =================================
@media (max-width: 700px) {
  .content {
    grid-column-start: 1;
    grid-row-start: 2;
    margin: 20px 0px 80px 0px;
    padding: 0px;
  }

  .Home {
    grid-auto-rows: 250px;
  }

  .profilePicture {
    max-height: 200px;
    max-width: 200px;
  }

  .Navbar {
    position: fixed;
    transform: translateY(0);
    bottom: 10px;
    right: 20px;
    align-content: end;
    z-index: 99;
    border: 0px;
    display: grid;
    align-content: end;
    grid-template-columns: 1fr;
    vertical-align: middle;
  }

  .collapseButton {
    display: block;
  }

  .navbarLinks {
  }

  .DirectoryLink {
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    border-right: 0px;
    .activeLink {
      border-right: 0px;
    }
  }

  .activeLink {
    color: white;
    .DirectoryLink {
      border-right: 0px solid black;
    }
  }

  .sidebarCollapsed {
    display: none;
  }

  .sidebarExpanded {
  }

  .App {
    padding: 0px 10px;
    grid-gap: 10px;
    text-align: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .Home {
    padding: 0;
    grid: 1fr 1fr;
  }

  .ProjectsBody {
    justify-items: center;
  }

  .ProjectCard {
  }

  .Contact {
    grid-auto-rows: 150px;
  }
}
