@import url("https://fonts.googleapis.com/css?family=Raleway|Work+Sans");
html {
  font-family: "Raleway", serif; }

body {
  padding: 0;
  margin: 0;
  min-height: 100%;
  line-height: 170%; }

h2 {
  margin: 0;
  padding: 10px;
  font-weight: lighter;
  font-size: 3em;
  line-height: 150%; }

h3 {
  font-weight: lighter; }

ul {
  list-style: none; }

#root {
  height: 100vh; }

.App {
  height: 100%; }
  .App.hogan {
    color: yellow; }

.Navbar {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  width: 110px; }

.collapseButton {
  margin: auto;
  display: none;
  height: 60px;
  width: 60px;
  padding: 10px;
  padding-left: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  fill: white; }

.DirectoryLink {
  color: black;
  max-height: 80px;
  border-right: 2px solid rgba(0, 0, 0, 0);
  font-size: 12px;
  font-family: "Work Sans", sans-serif;
  letter-spacing: 3px;
  text-align: right;
  margin: 5px;
  padding: 5px; }
  .DirectoryLink:hover {
    color: orange; }

.card {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  border-width: 1px;
  border-color: black;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2); }

.link {
  text-decoration: none; }
  .link:visited {
    text-decoration: none;
    color: blue; }

.activeLink {
  color: black; }
  .activeLink .DirectoryLink {
    border-right: 2px solid black; }
  .activeLink:visited {
    color: black; }

.nextProfileButton {
  position: fixed;
  bottom: 20px;
  left: 5px;
  color: black;
  max-height: 80px;
  vertical-align: middle;
  border-right: 2px solid rgba(0, 0, 0, 0);
  font-size: 10px;
  font-family: "Work Sans", sans-serif;
  letter-spacing: 3px;
  color: rgba(0, 0, 0, 0);
  text-align: right;
  background-color: white;
  margin: 5px;
  padding: 5px;
  cursor: pointer; }
  .nextProfileButton:hover {
    display: inline;
    color: orange; }
  .nextProfileButton.hogan {
    background-color: red;
    color: yellow; }
    .nextProfileButton.hogan:hover {
      color: black; }

.nextProfileButtonHogan {
  display: inline-block;
  background-color: red;
  font-size: 10px;
  color: yellow;
  cursor: pointer; }
  .nextProfileButtonHogan:hover {
    color: black; }

.square {
  display: inline-block;
  margin: 0;
  margin-right: 5px;
  height: 9px;
  width: 9px;
  border: 1px solid lightgrey; }
  .square:hover {
    background-color: black; }
  .square.hogan {
    background-color: black; }

.content {
  height: 100%;
  margin: 0px 40px 0px 150px; }

.Home {
  height: 100%;
  display: grid;
  margin: auto;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: center; }

.profilePicture {
  display: block;
  margin: auto;
  height: 300px;
  width: 300px;
  border-radius: 300px;
  border: 1px solid black;
  background-color: lightgrey;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2); }

.homeText {
  padding: 2px; }

.About {
  height: 100%;
  display: grid;
  margin: auto;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  align-items: center;
  align-content: center;
  justify-items: center; }

.AboutTitle {
  grid-column: span 2;
  text-align: center;
  max-width: 150px; }

.AboutText {
  grid-column: span 3;
  max-width: 800px; }

.ProjectsBody {
  display: grid;
  grid-gap: 40px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); }

.ProjectCard {
  width: 300px;
  margin: 20px 0px;
  padding: 20px 0px; }

.ProjectCardImage {
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  margin: auto;
  width: 300px;
  height: 169px;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: lightgrey; }
  .ProjectCardImage img {
    width: 300px;
    height: 169px; }

.ProjectCardSummary {
  color: grey; }
  .ProjectCardSummary.hogan {
    color: white; }

.ProjectCardBody {
  color: grey;
  font-size: 0.8em; }
  .ProjectCardBody.hogan {
    color: white; }

.ProjectCardTag {
  padding: 3px;
  margin: 3px;
  display: inline-block;
  font-size: 12px;
  color: grey;
  border: 1px solid lightgrey;
  line-height: 100%; }
  .ProjectCardTag.hogan {
    color: white;
    border-color: white; }

.Contact {
  height: 100%;
  display: grid;
  margin: auto;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  align-items: center; }

.ContactTitle {
  text-align: center;
  grid-column: span 2; }

.Icon:hover {
  fill: orange; }

@media (max-width: 700px) {
  .content {
    grid-column-start: 1;
    grid-row-start: 2;
    margin: 20px 0px 80px 0px;
    padding: 0px; }

  .Home {
    grid-auto-rows: 250px; }

  .About {
    justify-items: center;
    grid-template-columns: 1fr;
    padding-bottom: 100px; }

  .profilePicture {
    max-height: 200px;
    max-width: 200px; }

  .Navbar {
    position: fixed;
    transform: translateY(0);
    bottom: 10px;
    right: 20px;
    align-content: end;
    z-index: 99;
    border: 0px;
    display: grid;
    align-content: end;
    grid-template-columns: 1fr;
    vertical-align: middle; }

  .collapseButton {
    display: block; }

  .DirectoryLink {
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    border-right: 0px; }
    .DirectoryLink .activeLink {
      border-right: 0px; }

  .activeLink {
    color: white; }
    .activeLink .DirectoryLink {
      border-right: 0px solid black; }

  .sidebarCollapsed {
    display: none; }

  .App {
    padding: 0px 10px;
    grid-gap: 10px;
    text-align: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr; }

  .Home {
    padding: 0;
    grid: 1fr 1fr; }

  .Projects {
    padding-bottom: 100px; }

  .ProjectsBody {
    justify-items: center; }

  .Contact {
    grid-auto-rows: 150px; } }

/*# sourceMappingURL=index.css.map */
